@use "../styles/partials/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

img {
    max-width: 100%;
}

.background-white {
    background-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.borderlist {
    border-bottom: 3px solid lighten($primary-color, 30%);
}